<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic&display=swap' rel='stylesheet'
    type='text/css'>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  {{- partial "favicon.html" . -}}
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" site.Title .Title }}{{ end }}</title>

  {{- partial "seo_tags.html" . -}}

  {{ $framework := resources.Get "css/aal.css" | minify }}
  <link href="{{ $framework.RelPermalink }}" rel="stylesheet">
  {{ $base := resources.Get "css/base.css" | minify }}
  <link href="{{ $base.RelPermalink }}" rel="stylesheet">
  {{ $syntax := resources.Get "css/syntax.css" | minify }}
  <link href="{{ $syntax.RelPermalink }}" rel="stylesheet">

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ if .IsHome }}
    <script type="application/ld+json">
      {
        "@context" : "https://schema.org",
        "@type" : "WebSite",
        "name" : {{ site.Title }},
        "url" : {{ site.BaseURL }}
      }
    </script>
  {{ end }}

  <!-- Google analytics code -->
  {{ template "_internal/google_analytics.html" . }}
</head>

<body>

  <div id="header-container">
    <div class="top group" id="header">
      <header>
        <a href="/">{{ .Site.Title | lower }}</a>
      </header>

      <nav>
        {{ range .Site.Menus.main.ByWeight }}
        <a href="{{ .URL }}">{{ .Name | lower }}</a>
        {{ end }}
        <a href='{{ absURL "index.xml" }}'>feed</a>
      </nav>
    </div>
  </div>

  <div id="main-wrap">      
    <div id="content">
      <main id="main-content">
        {{- block "main" . }}{{- end }}
      </main>
    </div>

    <footer>
      {{- partial "footer.html" . -}}
    </footer>
  </div>

</body>
</html>

<!-- Hook to run code to generate a Cloudflare _redirects rule. -->
{{ if .IsHome }}
{{- partial "gen_cloudflare_redirects.html" . -}}
{{ end }}
